@font-face {
    font-family: 'FuturaBold';
    src: url('.././assets/fonts/Futura Bold font.ttf') format('truetype');
}

@font-face {
    font-family: 'FuturaLight';
    src: url('.././assets/fonts/Futura Light font.ttf') format('truetype');
}

* {
    font-family: FuturaLight;
    font-size: 21px;
}

.App {
    text-align: center;  
}

.App .header-wrapper {
    background-color: #01657F;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;  
}

.App .header-wrapper:hover #triangle {
    fill: #00BAAC;
    transition: fill .6s ease-in-out;
}

.App .header-wrapper:hover h1 {
    color: #fff;
    transition: color .6s ease-in-out;
}

.App .header-wrapper h1 {
    position: relative;
    z-index: 2;
    top: 0;
    width: 100%;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'FuturaBold';
    font-size: 50px;
    font-weight: 700;
    color: #003547;
    background-color: #01657F;
    transition: color .4s ease-in-out;
}

.App .header-wrapper svg {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
};

.App .header-wrapper h1 span {
    font-size: 30px;
}

.container-fluid {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}


@-webkit-keyframes spiralAnim {
    0% {
        stroke-dasharray: 507px 0px;
        stroke-dashoffset: 507px;
        transform: rotate(0deg);
    }

    100% {
        stroke-dasharray: 507px 507px;
        stroke-dashoffset: 0px;
        transform: rotate(360deg);
    }
}

@keyframes spiralAnim {
    0% {
        stroke-dasharray: 507px 0px;
        stroke-dashoffset: 507px;
        transform: rotate(0deg);
    }

    100% {
        stroke-dasharray: 507px 507px;
        stroke-dashoffset: 0px;
        transform: rotate(360deg);
    }
}

.App #triangle-footer {
    display: block;
    background-color: #01657F;
}

.App .social-footer {
    background-color: #01657F;
    font-size: 18px;
}

.App .social-footer .social .intro {
    color: #003547;
    font-family: "FuturaBold";
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.App .social-footer .social .intro:hover {
    color: #fff;
    transition: color .6s ease-in-out;
}

.App figure {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.App figure a {
    text-decoration: none;
    padding-left: 10px;
}

.App #github, .App #linkedin {
    width: 30px;
    height: 30px;
    fill: #A8A7A7;
    transition: fill .4s ease-in-out; 
}

.App #github:hover, .App #github:focus, .App #linkedin:hover, .App #linkedin:focus {
    fill: #F1F3F4;
}

.App .social-footer .email {
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.App .email a {
    font-family: "FuturaBold";
    color: #003547;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.App .email a:hover {
    color: #fff;
    transition: color .6s ease-in-out;
}

/*** Start of medium tablet styles ***/
@media screen and (max-width: 768px) {
    .App .header-wrapper h1 {
        box-sizing: border-box;
        font-size: 33px;
        padding: 50px 10px 50px 10px;
    }
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {
    .App .social-footer .social .intro {
        padding-top: 30px;
        font-size: 16px;
    }

    .App .social-footer .email a {
        font-size: 16px;
        padding-bottom: 30px;
    }
}